@using Berber.Models.Tables
@model List<Mission>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="page-title"><span>Randevu al</span></span>
<ul class="appointment-list">
    @foreach (var mission in Model)
    {
        <li><a asp-controller="Home" asp-action="Index" asp-route-missionid="@mission.Id">@mission.Name</a></li>
    }
</ul>
@if(ViewBag.MissionId!=null){
    foreach(var mission in Model){
        if(mission.Id==ViewBag.MissionId){
            <div class="appointment-page">
                <div class="row">
                    <div class="col">
                        <b class="d-block mb-2">Tarih :</b>
                        <input id="dayTime" value="Randevu tarihini seçiniz" type="datetime-local" />

                    </div><div class="col">

                        <b class="d-block mb-2">Saat :</b>
                        <input id="hourTime" value="Randevu saatini seçiniz" type="time" />
                    </div>
                </div>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Çalışan</th>
                        <th>Fiyat</th>
                        <th>Zaman (dk)</th>
                        <th></th>
                    </tr>
                    @foreach (var workermission in mission.WorkerMissions)
                    {
                        <tr>
                            <td>@workermission.Worker.FullName @if (workermission.isSpecialist)
                                {
                                    <b> + Usta</b>
                                }</td>
                            <td>@workermission.Price</td>
                            <td>@workermission.Time</td>
                            <td><button class="btn-normal" type="button" data-id="@workermission.Id">Randevu al</button></td>
                        </tr>
                    }
                </table>
            </div>


            break;
        }
    }
}
@section Scripts{
    <script>
        $(document).on('click', 'button[data-id]', function () {
            // İlgili değerleri al
            var dayTime = $('#dayTime').val();
            var hourTime = $('#hourTime').val();
            var workerMissionId = $(this).data('id');
            console.log(hourTime);
            console.log(dayTime);
            console.log(workerMissionId.toString());
            // AJAX ile gönder
            $.ajax({
                url: '/Home/CreateAppointment', // Controller ve Action yolunu değiştirin
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    DayTime: dayTime,
                    HourTime: hourTime,
                    WorkerMissionId: workerMissionId.toString()
                }),
                success: function (response) {
                    if (response.success) {
                        alert('Randevu başarıyla alındı!');
                        location.reload(); // Gerekirse sayfayı yenileyin
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                }
            });
        });

    </script>
}